:root {
  background-color: #FFFFFF;
  background-size: fill;
  background-image: linear-gradient(to bottom, #FFFFFF, #BABABA); /* Other candidate - #BABABA or #808080 */
  height: 50%;
  user-select: none;
}

.unselectable {
  user-select: none;
  pointer-events: none;
}

.swipeStack {
    z-index: 1000;
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
}

.overlayed {
  z-index: 1;
}

.cardImage {
  overflow: hidden;
}

.cardTransparent {
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.7);
}

.cardTitle {
  text-align: center;
  padding-top: 3em;
}